<form [formGroup]="SearchForm" (ngSubmit)="LoadAccounts(SelectOptions.value, textValue.value, SelectClient.value)" fxLayout="row" fxLayoutGap="5px">
  <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
    <mat-label>Clients: </mat-label>
    <mat-select  #SelectClient id="SelectClient" name="SelectClient" formControlName="SelectClient" (selectionChange)="ChageClient(SelectClient.value, SelectOptions.value, textValue.value)">
      <mat-option value="0">ALL CLIENT</mat-option>
      <mat-option *ngFor="let item of allClients" [value]="item.clientCode">{{ item.clientCode }} - {{ item.name | uppercase }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
    <mat-label>Search by: </mat-label>
    <mat-select #SelectOptions id="SelectOptions" name="SelectOptions" formControlName="SelectOptions" (selectionChange)="ChageOptions(SelectClient.value, SelectOptions.value, textValue.value)">
      <mat-option *ngFor="let item of listOption" [value]="item.value">{{ item.label | uppercase }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
    <mat-label>Write a value: </mat-label>
    <input matInput #textValue id="textValue" name="textValue" formControlName="textValue" [(ngModel)]="searchValue" (keyup)="ChageValues(SelectClient.value, SelectOptions.value, textValue.value)">
  </mat-form-field>
  <button style="height: max(56px)" appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex mat-button color="primary" [disabled]="disabledButton" (click)="LoadAccounts(SelectOptions.value, textValue.value, SelectClient.value)" style="height: 36px">
    Search
  </button>
</form>

<hr>
<form>
  <mat-form-field fxFlex *ngIf="dataSource != null && allAccounts.length > 0">
    <mat-label>Type some text to filter the result: </mat-label>
    <input matInput #textValue name="searchTerm" [(ngModel)]="searchTerm" (input)="search($any($event))">
  </mat-form-field>
</form>

<div class="contenedor">
  <div class="table-container">
    <div class="table-header">
      <table  mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Account">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header ><strong> Account # </strong></th>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header><strong> Name </strong></th>
        </ng-container>
        <ng-container matColumnDef="Client_code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Client - Project </strong></th>
        </ng-container>
        <ng-container matColumnDef="clientRef1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Client Ref </strong></th>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> From Date </strong></th>
        </ng-container>
        <ng-container matColumnDef="balanceDue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Balance </strong></th>
        </ng-container>
        <ng-container matColumnDef="RP_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> RP Name </strong></th>
        </ng-container>
        <ng-container matColumnDef="SSN">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> SSN </strong></th>
        </ng-container>
        <ng-container matColumnDef="DOB">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Age </strong></th>
        </ng-container>
        <ng-container matColumnDef="Worked">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Worked </strong></th>
        </ng-container>
        <ng-container matColumnDef="Status_Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> Status Code </strong></th>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> </strong></th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </table>
    </div>
    <div class="table-content">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Account">
          <td style="font-size: 12px" mat-cell *matCellDef="let element">
            {{element.acctID}}
            <mat-icon *ngIf="element.acctID" [cdkCopyToClipboard]="element.acctID" matTooltip="{{ element.acctID }}">link</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <td style="font-size: 12px" mat-cell *matCellDef="let element" [matTooltip]="element.firstName + ' ' + (element.middleName ? element.middleName + ' ' : '') + element.lastName">
            <label *ngIf="element.firstName">
              {{element.firstName}}
            </label>
            <label *ngIf="element.middleName">
              &nbsp;{{element.middleName}}
            </label>
            <label *ngIf="element.lastName">
              &nbsp;{{element.lastName}}
            </label>
          </td>
        </ng-container>
        <ng-container matColumnDef="Client_code">
          <td style="font-size: 12px" mat-cell *matCellDef="let element"> {{element.clientCode}}-{{element.projectCode}} </td>
        </ng-container>
        <ng-container matColumnDef="clientRef1">
          <td style="font-size: 12px" mat-cell *matCellDef="let element"> {{element.clientRef1}}
            <br>
            <mat-icon *ngIf="element.clientRef1" [cdkCopyToClipboard]="element.clientRef1" matTooltip="{{ element.clientRef1 }}">link</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="fromDate">
          <td style="font-size: 12px" mat-cell *matCellDef="let element"> {{element.fromDate | date :'MM/dd/YYYY'}} </td>
        </ng-container>
        <ng-container matColumnDef="balanceDue">
          <td style="font-size: 12px; text-align: center;" mat-cell *matCellDef="let element"> {{element.balanceDue}} </td>
        </ng-container>
        <ng-container matColumnDef="RP_Name">
          <td style="font-size: 12px" mat-cell *matCellDef="let element"> {{element.rpFullName}} </td>
        </ng-container>
        <ng-container matColumnDef="SSN">
          <td style="font-size: 12px" mat-cell *matCellDef="let element">
            {{element.socialSecMask }}
            <br>
            <mat-icon *ngIf="element.socialSec" [cdkCopyToClipboard]="element.socialSec" matTooltip="{{element.socialSec }}">link</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="DOB">
          <td style="font-size: 12px; text-align: center;" mat-cell *matCellDef="let element">
            {{ getAge(element.dateOfBirth) }}
            <br>
            <mat-icon *ngIf="element.dateOfBirth" [cdkCopyToClipboard]="datepipe.transform(element.dateOfBirth, 'MM/dd/yyyy') ?? ''" matTooltip="{{element.dateOfBirth | date :'MM/dd/YYYY' }}">link</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="Worked">
          <td style="font-size: 12px; text-align: center;" mat-cell *matCellDef="let element">
            <mat-icon *ngIf="isWorked(element.acctID)">check_circle_outline</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="Status_Code">
          <td style="font-size: 12px" mat-cell *matCellDef="let element">
            <div class="StatusCircle" [style.background]="returnColor(element.statusCode)">
              {{element.statusCode}}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <td style="font-size: 12px" mat-cell *matCellDef="let element">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <a type="button" mat-stroked-button color="primary" matTooltip="View Info" (click)="ShowInfo(element.acctID)">
                <mat-icon>remove_red_eye</mat-icon>
              </a>
              
              <a type="button" mat-stroked-button color="primary" matTooltip="Edit Info" (click)="ChargeForm(element.acctID)">
                <mat-icon>edit</mat-icon>
              </a>
            </mat-button-toggle-group>
          </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{textValue.value}}"</td>
        </tr>
      </table>
    </div>
    <div class="table-footer">
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select pagePayer of _Payers"></mat-paginator>
    </div>
  </div>
</div>

<ng-template #callAPIDialog>
  <app-account-form [inAcctID]="modAcctID"></app-account-form>
</ng-template>