.contenedor-form {
    position: relative;
    max-width: 100%; /* Ajusta el ancho máximo al 100% del contenedor padre */
    height: 100%; /* Ajusta la altura al 100% del contenedor padre */
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Permite el scroll vertical */
    overflow-x: hidden; /* Oculta el scroll horizontal */
  }

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #f5f5f5; /* Color de fondo gris claro */
    //border: 15px solid white; /* Borde blanco alrededor */
    border-bottom: 1px solid #ddd; /* Borde inferior */
  }
  
  .header-buttons h1 {
    margin: 0;
    font-size: 1.5rem; /* Tamaño de la fuente */
  }
  
  .menu-spacer {
    flex-grow: 1;
  }
  
  
  
 