.mat-column-balanceDue {
  text-align: right;
}

.mat-column-admitAge {
  text-align: right;
}



.contenedor {
  width: 100%;
  /* Ancho del contenedor */
  max-height: 55vh;
  overflow: auto;
}

.mi-tabla {
  width: 100%;
  /* Ancho de la tabla */
  /* Resto de estilos de la tabla */
}



/* Sticky header */
.sticky-header {
  position: sticky;
  top: 0;
  background-color: white; /* Asegúrate de que el fondo no sea transparente */
  z-index: 10; /* Asegura que el encabezado esté encima del contenido */
  border-bottom: 2px solid #ccc; /* Línea de separación para el encabezado */
}