.mat-column-balanceDue {
  text-align: right;
}

.mat-column-admitAge {
  text-align: right;
}



.contenedor {
  width: 100%;
  /* Ancho del contenedor */
  max-height: 55vh;
  overflow: auto;
}

.mi-tabla {
  width: 100%;
  /* Ancho de la tabla */
  /* Resto de estilos de la tabla */
}

