<hr />
<button class="btn-rigth" mat-stroked-button color="primary" (click)="openNewPayer(contentModal)">Add New payer</button>

<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="sequence" >
        <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Sequence </strong></th>
        <td mat-cell *matCellDef="let element"> {{element.Sequence}} </td>
    </ng-container>
    <ng-container matColumnDef="payerName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Payer </strong></th>
        <td mat-cell *matCellDef="let element"> {{element.payerName}} </td>
    </ng-container>
    <ng-container matColumnDef="payerContact">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Contact </strong></th>
        <td mat-cell *matCellDef="let element"> {{element.payerContact}} </td>
    </ng-container>
    <ng-container matColumnDef="payerPhone">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Phone </strong></th>
        <td mat-cell *matCellDef="let element"> {{element.payerPhone}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Address </strong></th>
        <td mat-cell *matCellDef="let element"> 
            {{element.payerAddress1}} 
            <br/>
            {{element.payerAddress2}} 
        </td>
    </ng-container>
    <ng-container matColumnDef="billDateType">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Bill Date - Type </strong></th>
        <td mat-cell *matCellDef="let element"> {{element.billDate| date:'mediumDate'}}-{{element.planType}} </td>
    </ng-container>
    <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button class="btn-rigth"
                mat-stroked-button color="primary"
                (click)="openEditPayer(contentModal, element)" > Edit </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"> </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select pagePayer of _Payers"></mat-paginator>


<ng-template #contentModal let-modal>
    <form [formGroup]="addPayerFormGroup" (ngSubmit)="SubmitPayer()">
        <h1 mat-dialog-title> Add Payer       
            <span class="menu-spacer"></span>
            <button mat-stroked-button class="btn-rigth" color="accent" mat-dialog-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </h1>
        <div mat-dialog-content>
            <input type="hidden" formControlName="payerID" >
            <input type="hidden" formControlName="acctID" >

            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Sequence</mat-label>
                    <input matInput formControlName="sequence"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Payer Name</mat-label>
                    <input matInput formControlName="payerName"  >
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>payer Address Line 1</mat-label>
                    <input matInput formControlName="payerAddress1"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>payer Address Line 2</mat-label>
                    <input matInput formControlName="payerAddress2"  >
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>City </mat-label>
                    <input matInput formControlName="payerCity"  >
                </mat-form-field>
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>State </mat-label>
                    <input matInput formControlName="payerState"  >
                </mat-form-field>
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="payerZip"  >
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Contact Name</mat-label>
                    <input matInput formControlName="payerContact"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Contact Phone</mat-label>
                    <input matInput formControlName="payerPhone"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Insured ID</mat-label>
                    <input matInput formControlName="idNo"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Group Number</mat-label>
                    <input matInput formControlName="groupNo"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Plan Number</mat-label>
                    <input matInput formControlName="planNumber"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Group Name / ID #</mat-label>
                    <input matInput formControlName="groupName"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Plan Type</mat-label>
                    <input matInput formControlName="planType"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Subscriber's Name</mat-label>
                    <input matInput formControlName="subscriberName"  >
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Subscriber's DOB</mat-label>
                    <input matInput [matDatepicker]="subscriberDOB" formControlName="subscriberDOB">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="subscriberDOB"></mat-datepicker-toggle>
                    <mat-datepicker #subscriberDOB></mat-datepicker>
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Date Of Injury</mat-label>
                    <input matInput [matDatepicker]="dateOfInjury" formControlName="dateOfInjury">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="dateOfInjury"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfInjury></mat-datepicker>
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Effective Date</mat-label>
                    <input matInput [matDatepicker]="effectiveDate" formControlName="effectiveDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="effectiveDate"></mat-datepicker-toggle>
                    <mat-datepicker #effectiveDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Reference Number</mat-label>
                    <input matInput formControlName="referenceNumber"  >
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Authorization #</mat-label>
                    <input matInput formControlName="authorizationNumber"  >
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutGap="5px" >
                <mat-form-field appearance="fill" fxLayout.sm="column" fxLayout.xs="column" fxFlex>
                    <mat-label>Authorization Date</mat-label>
                    <input matInput [matDatepicker]="authorizationDate" formControlName="authorizationDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="authorizationDate"></mat-datepicker-toggle>
                    <mat-datepicker #authorizationDate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions>
            <button type="submit" mat-stroked-button color="primary">Save</button>
            <button type="button" mat-stroked-button color="accent" mat-dialog-close>Cancel</button>
        </div>
    </form>    
</ng-template>