<span *ngIf="isLogged">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button *ngIf="isLogged">
        <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>
        <app-brand></app-brand>
      </h1>
      <span class="menu-spacer"></span>
      <div>
        <app-menu [inTipoMenu]="0"></app-menu>
      </div>
      <span class="menu-spacer"></span>
      <span style="font-size: 12px;">{{ VarNombreUser }}</span>
      </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list *ngIf="isLogged">
  
        <app-menu [inTipoMenu]="1"></app-menu>
        
        <a mat-list-item (click)="loginService.signOut()" href="" mat-list-item>
          <mat-icon>exit_to_app</mat-icon>
          Close
        </a>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <div class="row">
          <div class="col-md-1">
  
          </div>
          <div class="col-md-10">
            <router-outlet></router-outlet>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
</span>
<div *ngIf="!isLogged" style="height: 88vh; background-color: dimgrey;">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
<app-spinner></app-spinner>