<div mat-dialog-content>

    <table mat-table [dataSource]="dataSource" matSort >        
        <ng-container matColumnDef="acctid" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Account Id </strong></th>
            <td mat-cell *matCellDef="let element"> {{element.acctid}} </td>
        </ng-container>
        <ng-container matColumnDef="acctName" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Name </strong></th>
            <td mat-cell *matCellDef="let element"> {{element.acctName}} </td>
        </ng-container>
        <ng-container matColumnDef="proximity" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong> Status </strong></th>
            <td mat-cell *matCellDef="let element">
                <div class="StatusCircle" [style.background]="returnColor(element.proximity)">
                    {{element.proximity}} 
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="acction"  >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header><strong>  </strong></th>
            <td mat-cell *matCellDef="let element">  
                <button mat-stroked-button color="primary" (click)="SetAccountId(element.acctid)">
                    <mat-icon  matTooltip="Go to Account # {{element.acctid}}">account_circle</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"> </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{this.inAcctID}}"</td>
        </tr>
    </table>

    
    
</div>

